.aston-martin-page {
    text-align: center;
    padding: 20px;
}
.layout.astonmartin{
    background-color: #168250;
    color: #01381f;
  }

  .headerBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pushes the header to the bottom */
    align-items: center; /* Keeps content centered horizontally */
    height: 100%; /* Ensure it takes the full height */
  }
   
.headerTitle{    
    color: #08a161;
    font-family: 'Cool Font', sans-serif;
    font-size: 36px;
}

.car-image-container {
    margin-top: 20px;
}

.headerImage {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.image:hover {
    box-shadow: 0 0 20px 10px #089664;
}
