.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Divides into 2 columns */
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin:0 auto;
    
  }
  
  .grid-item {
    background-color: #c0c0c0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .grid-image {
    width: 100%;
    border-radius: 8px;
  }
  